<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Xamcost</title>
	</head>
	<body>
     <nav id="navbar">
       <ul id="navbar-items">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
      <hr />
    </nav>
    <div id="slot-container">
      <slot />
    </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
    padding: 0;
		width: 100%;
		height: 100%;
    background-color: #24283b;
    font-family: 'Mononoki', monospace;
	}

  #navbar {
    padding: 5px 0;
  }

  #navbar-items {
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style-type: none;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
  }

  #navbar-items a {
    text-decoration: none;
    color:  #7aa2f7;
  }

  #navbar-items a:hover {
    color: #f7f7f7;
  }

  #navbar hr {
    border: 1px solid #7aa2f7;
  }

  #slot-container {
    margin: 5em 20vw 0 20vw;
    padding-bottom: 2em;
  }

  @media (max-width: 1000px) {
    #slot-container {
      margin: 5em 5vw 0 5vw;
    }
  }

  @media (max-width: 600px) {
    #navbar-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 30px;
    }
  }
</style>
